@model WordBrain.Data.Models.GridModel
@{
    ViewBag.Title = "Index";
    var rowNumber = 0;
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(hw => Model.HideWords)
    <input type="hidden" id="wordCount" name="wordCount" value="@Model.WordLengths.Count"/>
    <b>Grid Size:</b>
    <select id="GridHeight" name="GridHeight" onchange="document.location.href = ('/words/index/?gridHeight=' + document.getElementById('GridHeight').options[document.getElementById('GridHeight').selectedIndex].value + '&gridWidth=' + document.getElementById('GridWidth').options[document.getElementById('GridWidth').selectedIndex].value);">
        @for (var i = 3; i <= 10; i++)
        {
            <option @(Model.GridHeight == i ? "selected " : null) value="@i">@i</option>
        }
    </select>
    <select id="GridWidth" name="GridWidth" onchange="document.location.href = ('/words/index/?gridHeight=' + document.getElementById('GridHeight').options[document.getElementById('GridHeight').selectedIndex].value + '&gridWidth=' + document.getElementById('GridWidth').options[document.getElementById('GridWidth').selectedIndex].value);">
        @for (var i = 3; i <= 10; i++)
        {
            <option @(Model.GridWidth == i ? "selected " : null) value="@i">@i</option>
        }
    </select>
    <table>
        @foreach (var row in Model.Rows)
        {
            var colNumber = 0;
            <tr id="row@(rowNumber)">
                @for (var i = 0; i < row.CharCount; i++)
                {
                    <td><input type="text" tabindex="@i" class="character" id="col@(rowNumber)_@colNumber" name="col@(rowNumber)_@colNumber" style="width: 30px;" maxlength="1" value="@(row[i].Value)"/></td>
                    colNumber++;
                }
            </tr>
            rowNumber++;
        }
    </table>
     foreach (var length in Model.WordLengths)
     {
         <span>
             <b>Word Length (1):</b>
             <select id="wordLength1" name="wordLength1">
                 @for (var i = 3; i <= 10; i++)
                 {
                     <option @(length == i ? "selected " : null) value="@i">@i</option>
                 }
             </select>
         </span>
     }
    <input type="submit" value="go"/>

    <div id="words1">
        @foreach (var list in Model.ValidWords)
        {
            foreach (var word in list)
            {
                <input type="radio" class="word" value="@word" name="word1" id="@(word)1"/>
                <label for="@(word)1">@word</label>
            }
        }
    </div>
    <div id="more-words">
        
    </div>
}

<script>
    $(document).ready(function() {

        $('.word').click(wordClick);


        $(".character").keydown(function (e) {
            var key = e.keyCode;
            if ((key >= 65 && key <= 90)&&(this.value.length >= 1)) {
                return true;
            }
            return false;
        }).keyup(function () {
            if (this.value.length >= 1) {
                var $all = $('form :input');
                var focused = $(':focus')[0];
                for (var i = 0; i < $all.length - 1; ++i) {
                    if ($all[i] != focused)
                        continue;
                    $all[i + 1].select();
                    break;
                }
                // Must have been focused on the last one or none of them.
                if (i == $all.length - 1)
                    $all[0].select();
            }
        }).focus(function() {
            $(this).select();
        });

    });

    function wordClick(e) {
        var wordCount = parseInt($('#wordCount').val());
        var wordIndex = wordCount + 1;
        var wordIndexDisplay = wordIndex === 1 ? wordIndex + 1 : wordIndex;
        if ($('input[name=word' + wordCount + ']:checked').val()) {
            $('.word').removeClass('active');
            $(this).addClass('active');
            var w = $('<b>Word Length (' + wordIndexDisplay + '): </b>');
            var s = $('<select id="wordLength' + wordIndexDisplay + '" name="wordLength' + wordIndexDisplay + '" />');
            for (var i = 3; i <= 10; i++) {
                $('<option />', { value: i, text: i }).appendTo(s);
            }
            var b = $('<input type="button" id="next" value="go" onclick="goClick()"/>');

            var d = $('<div id="selector' + wordIndex+'"></div>');
            d.append(w);
            d.append(s);
            d.append("&nbsp;");
            d.append(b);
            $('#more-words').append(d);
            wordCount++;
            $('#wordCount').val(wordCount);
        }
    }

    function goClick() {
        $.post(
            "/api/combinations",
            $('form').serialize(),
            function (data) {
                var wordCount = parseInt($('#wordCount').val());
                $('#words' + wordCount).remove();
                var d = $('<div id="words' + wordCount + '"></div>');
                d.append("<br/>");
                for (var i = 0; i < data.length; i++) {
                    var r = $('<input type="radio" class="word" value="' + data[i] + '" name="word' + wordCount + '" id="' + data[i] + wordCount +'"/>');
                    var l = $('<label for="' + data[i] + wordCount + '">&nbsp;' + data[i] + '&nbsp;</label>');
                    d.append(r);
                    d.append(l);
                }
                d.append("<br/>");
                $('#more-words').append(d);
                $('.word').off("click");
                $('.word').click(wordClick);
                $('#wordCount').val(wordCount);
            }
        );
    }
</script>